<style>
    .weather-main {
        width: 400px;
        margin: auto;
    }
</style>

<div class="weather-main">
    <h2>Sääennuste Suomessa</h2>
    <select id="cities" [(ngModel)]="selectedCityId" (click)="getWeathetData()">
        <option value="" disabled selected>Valitse kaupunki</option>
        <option *ngFor="let city of cities" [value]="city.id">
            <p  >{{city.name}}</p>
        </option>
    </select>
    <img *ngIf="imagePath !== ''" [src]="imagePath" alt = "weather-image"/>
    <div *ngIf="temp!==''">
        <p>{{description}}</p>
        <p>Lämpötila: <strong>{{temp}}</strong></p>
        <p>Tuntuu kuin: <strong>{{temp_feels}}</strong></p>
        <p>Tuulen nopeus: <strong>{{wind}}</strong></p>
    </div>
    
</div>
