<style>

</style>

<div>
    <h2>Laskin</h2>
    <p>
        Laskin voi jakaa, kertoa, laskea yhteen ja vähentää. 
        Koko suoritettu toiminto näkyy näytöllä. 

    </p>
    <h2>Tekstieditori</h2>
    <p>
        Editorin avulla saa kirjoittaa tekstiä, säättää tekstin kokoa 
        ja valita tumman tai vaalean tyylin välillä. teksti-ikkunan 
        tyylin muuttamiseen on käytetty direktiivejä.
    </p>
    <h2>Sää</h2>
    <p>
        Sivulla voit valita kaupungin ja tarkastella sen säätä.
        Käytetty on weather api.
    </p>
</div>
