<style>
    .t-editor {
        box-sizing: border-box;
        width: 350px;
        
    }
    .btnRow {
        display: grid;
        margin: 5px 0;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }
</style>
<div class="t-editor">
    <h2>Tekstieditori sivu</h2>
    <div class="btnRow">
        <label>Tekstin koko</label>
        <select [(ngModel)]="selectedSize" (click)="setSize()">
            <option value="" disabled selected>Valitse fontin koko</option>
            <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
        </select>
        
        <button (click)="setTextAreaView({color: '#ddd', bgColor: 'grey'})" >Tumma tyyli</button>
        <button (click)="setTextAreaView({color: 'black', bgColor: 'white'})" >Vaalea tyyli</button>
    
    </div>
    
    <textarea 
    [(ngModel)]="textCreated" 
    [appTextSize]="fontSize" 
    [appTextBoxView]="textAreaView"
     rows="4" 
     cols="50"></textarea>
</div>
